<p>Dear opeNode user, <br /></p>

<p>Please click the link below to reset your password:<br /></p>

<p>
  <a href="https://www.openode.io/reset/<%= @user.reset_token %>">
    https://www.openode.io/reset/<%= @user.reset_token %>
  </a><br />
</p>