<p>Dear opeNode user, <br /></p>
<p>Thank you for choosing opeNode for your Cloud hosting solution.</p>
<p>We would like to take a moment and check in on you to make sure that everything is going well!</p>
<p>If you are running into any hosting issue, setup, or general issue with our services, please reply to this email, we will be glad to assist you!</p>
<p></p>