<p>Dear opeNode user, <br /></p>
<p>Thank you for choosing opeNode for your Cloud hosting solution.</p>
<p>We would like to take a moment and check in on you to make sure that everything is going well!</p>
<p>If you are running into any hosting issue, setup, or general issue with our services, please contact us, we will be glad to assist you!</p>
<p></p>
<p>Find below a list of documentation guides which you might find useful to get started:</p>
<ul>
  <li>
    <b>
      <a href="https://www.openode.io/docs/installation/index.md">Getting Started</a>
    </b>
  </li>
  <li>
    <b>
      <a href="https://www.openode.io/docs/platform/deploy.md">Deploying an Instance</a>
    </b>
  </li>
  <li>
    <b>
      <a href="https://www.openode.io/docs/platform/env_vars.md">Setting Environment Variables</a>
    </b>
  </li>
</ul>