<p>Dear opeNode user, <br /></p>
<p>You have been invited to join opeNode. We are pleased to welcome you to opeNode.io! :-)<br /></p>
<p><b>Activate your account:</b>
  <a href="<%= @activation_link %>"><%= @activation_link %></a><br />
</p>

<p><b>Credentials:</b>
  <ul>
    <li><i>Email:</i> <%= @user.email %></li>
    <li><i>Generated password:</i> <%= @password %></li>
  </ul>
</p>
