<p>Dear opeNode user, <br /></p>
<p>We carefully reviewed your open source plan request, see the result below.</p>

<p><strong>Status: </strong><%= @website['open_source']['status'] %></p>
<p><strong>Reason: </strong><%= @website['open_source']['reason'] %></p>

<p>If you have any question please let us know.<br /></p>