<p>Dear opeNode user, <br /></p>
<p>Please note that due to a lack of credit, the persistence associated to your website (<%= @website.site_name %>) has been removed.</p>

<p><strong>*** Make sure to redeploy once you have bought credits.</strong></p>

<p>To overcome this issue, you can buy credits in <strong>Administration > Billing</strong>, it is cheap and your website will not have any uptime limitation.</p>

<p>If you have any question please let us know.<br /></p>