<p>Dear, <br /></p>

<p>You have been invited to join opeNode.io by <%= @user.email %>!<br /></p>

<p>Join opeNode now: <a href="https://www.openode.io/users/register">Sign Up</a><br /></p>

<p>Make sure to have a look at our <a href="https://www.openode.io/docs/introduction/index.md">documentation</a> to get started.</p>


