<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <style>
      /* Email styles need to be inline */
    </style>
  </head>

  <body>
    <%= yield %>

    <p><br /></p>
    <p>The opeNode team<br /><a href="https://www.openode.io/">opeNode.io</a></p>
    <p>
      <hr />
    </p>
    <p>Subscribe on Twitter: <a href="https://twitter.com/openodeio">https://twitter.com/openodeio</a></p>
    <p>Community Forum on Reddit: <a href="https://www.reddit.com/r/openode/">https://www.reddit.com/r/openode/</a></p>
    <p>
    <hr />
  </body>
</html>
